[submodule "coursework1_2024"]
	path = coursework1_2024
	url = https://github.com/symeonalmanidis/coursework1_2024.git
[submodule "coursework2_2025"]
	path = coursework2_2025
	url = https://github.com/symeonalmanidis/coursework2_2025.git
